.Homepage{
    background-color:#151616;
    height: 300vh;
    width: 100%;
    position: absolute;
    left: 0%;
    color: white;

}

.info{
    position: absolute;
    top: 26%;
    left: 14.3%;
}
.title{

    font-size: 40px;
    width: 90%;
    text-align: start;
}

.location{
    display: flex;
    width: 50%;
}
.texts{
    position: absolute;
    left: 8%;
    text-align: start;
}
.icon{
    position: absolute;
    top: 120%;
    scale: 2;
    left: 1%;
}

.location2{
    display: flex;
    width: 50%;
}
.texts2{
    position: absolute;
    left: 8%;
    margin-top: 2%;
    text-decoration: underline;
    font-size: 8px;
    text-align: start;
}
.location2{
    position: absolute;
    top: 170%;
    scale: 2;
    left: 25%;
}

.icon2{
    position: absolute;
    margin-top: 3.3%;
    scale: 1;
    align-items: center;
}

.tickets{
    position: absolute;
    top: 45%;
    left: 14.3%;
    text-align: start;
}

.disc{
    position: absolute;
    top: 70%;
    left: 14.3%;
    text-align: start;
    width: 60%;
}

.img{
    background-image: url("https://assets.blocklive.io/events/28036353-a304-4657-9325-277c85ca37d1/17b1d959-afc9-4de4-9d64-76d0119a443f_parislinea_event_cards_01.png");
    width: 800px;
    height: 400px;
    background-size: contain;
    position: absolute;
    top: 5%;
    left: 22.5%;
    border-radius: 10px;
    scale: 1.3;
}

.card{
    margin-top: 3%;
    background-color: #282a2a;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    display: flex;
}
.cardflex{
    display: flex;
}
.cardinfo{

}

.cardtext{
    position: absolute;
    left: 15%;
    width: 80%;
}

.cardimg{
    background-image: url("https://assets.blocklive.io/events/28036353-a304-4657-9325-277c85ca37d1/b7caba6c-ca76-4098-b675-259b414efc17_nft___not_activated__5_.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 29%;
    left: 2%;
    border-radius: 20px;

}